.container {
    background-image:url('/assets/login_bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 517px;
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.login-box {
    width:320px;
    height: 290px;

    margin:0 auto;
    padding: 0;

    background-color: rgb(246, 246, 248);
    opacity: 0.9;
}

.login-box .item-width {
    width: 260px;
}

.user-box {
    margin: 30px;
    padding: 0;
}

.user-box .lable-item {
    margin-top: 0px;
    margin-bottom: 20px;

    padding: 0;
}

.user-box .account-item {
    margin-top: 0px;
    margin-bottom: 15px;
    margin-right: 0;

    padding-left: 12px;
}

.user-box .password-item {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 0;
}

.user-box .forget-item {
    width: 94px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 170px;
    margin-right: 0;

    font-size: 12px;

    padding: 0;
}

.user-box .forget-item .link {
    padding: 0;
    margin: 0;
}

.user-box .submit-item {
    height:30px;

    margin: 0;
    padding: 0;

    border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    
    border: none;
    outline: none;

    background-color: cornflowerblue;
}

.fenge {
    top: 317px;
    left: 88px;
    padding:10px 6px 0px 6px;
    margin-left: 6px;
    border-left: 1px solid rgb(37, 36, 36);
    font-size: 0;
}

.bottom-group {
    background-color:rgb(209, 216, 240);
    width:100%;
    height: 44px;

    margin: 0;
    padding-top: 12px;
    padding-right: 0px;

    border-top-left-radius: 0px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
}

.weixin {
    margin-top: 15px;
}

.zhifubao {
    top: 312px;
    left: 98px;
}

.zhuce {
    margin-top: 0px;
    margin-left: 194px;
    padding: 0;
}

.fail-container {
    position: relative;
    left: 30px;
    top: -285px;

    margin: 0;
    padding: 0;

    text-align: center;

    background-color: red;
}

.fail-container .fail {
    margin: 0;
    padding: 0;
}