<form [formGroup]="formModel"
      (ngSubmit)="f.form.valid && login()" #f="ngForm">
    <div class="container">
        <div class="thumbnail login-box">
            <div class="form-group user-box">
                <label class="lable-item">Log in with account</label>
                <input formControlName="username" 
                       id="username" type="text"
                       class="form-control account-item item-width" 
                       placeholder="username/email"
                       (keyup)="onInput()" required>

                <input formControlName="password" 
                       id="password" type="password"
                       class="form-control password-item item-width" 
                       placeholder="password"
                       (keyup)="onInput()" required>

                <div class="forget-item">
                    <a href="" class="link">Forget password</a>
                </div>
                <button type="submit" class="submit-item item-width">Log in</button>
            </div>
            <div class="bottom-group">
                <!-- <a href="" class="weixin">Facebook</a>
                <span class="fenge"></span>
                <a href=""  class="zhifubao">Alipay</a> -->
                <div class="zhuce">
                    <a href="/#/register">Not a member?</a>
                </div>
            </div>
            <div class="thumbnail fail-container item-width" *ngIf="errorValue != ''">
                <p class="fail"> {{errorValue}} </p>
            </div>
        </div>
    </div>
</form>