<div>
    <div class="row">
        <order-status-page id="noBuyer" 
                            class="order-status" 
                            title="No Buyer"
                            active="true" 
                            (click)="onClickNoBuyer(nobuyer, auction, unshipped, dispatched, inreturn)" #nobuyer>
        </order-status-page>

        <order-status-page id="auction" 
                          class="order-status" 
                          title="In Auction" 
                          active="false" 
                          (click)="onClickAuction(nobuyer, auction, unshipped, dispatched, inreturn)" #auction>
        </order-status-page>

        <order-status-page id="unshipped" 
                            class="order-status" 
                            title="Not Yet Shipped" 
                            active="false" 
                            (click)="onClickUnshipped(nobuyer, auction, unshipped, dispatched, inreturn)" #unshipped>
        </order-status-page>

        <order-status-page id="dispatched" 
                          class="order-status" 
                          title="Dispatched" 
                          active="false" 
                          (click)="onClickDispatched(nobuyer, auction, unshipped, dispatched, inreturn)" #dispatched>
        </order-status-page>

        <order-status-page id="inreturn" 
                            class="order-status" 
                            title="In Return" 
                            active="false" 
                            (click)="onClickInReturn(nobuyer, auction, unshipped, dispatched, inreturn)" #inreturn>
        </order-status-page>

    </div>
    <div class="orders">
        <div *ngIf="failedValue != ''">
            <p class="fail">{{failedValue}}</p>
        </div>
        <div *ngFor="let order of orders" class="row col-sm-12 col-lg-12 col-md-12">
            <order-item-page [order]="order" 
                             *ngIf="currentType.includes(order.status)" 
                             class="item thumbnail"
                             isBuyer="false"
                             (handleOrderEvent)="handleOrderEvent($event)">
            </order-item-page>
        </div>
    </div>
</div>

<!-- a dialog to input exress info for pruduct -->
<div class="modal fade" id="dispatchDig" role="dialog" tabindex="-1"
    [ngStyle]="{'display': activeOrderEventType == 2 ? 'block' : 'none', 'opacity': 1}">
    <div class="dispatch-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <div class="dispatch-div">
                        <label class="dispatch-courier">courier</label>
                        <input id="courier" class="dispatch-input" type="text" placeholder="please input courier firm">
                    </div>
                    <div class="dispatch-div">
                        <label class="dispatch-number">tracking number</label>
                        <input id="express" class="dispatch-input" type="text" placeholder="please input tracking number">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="submitExpress()">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelExpress()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>