.order-status {
    float: left;
    margin-right: 20px;
}

.orders {
    margin-top: 20px;
}

.orders .item {
    margin-top: 5px;
    margin-bottom: 0px;
}

.modal {
    background: rgba(0,0,0,0.6);
}

.dispatch-dialog {
    position: relative;
    margin: 0 auto;
    top: 25%;
    width: 350px;
}

.dispatch-div {
    margin-bottom: 10px;
}

.dispatch-courier {
    float: left;
    padding-left: 60px;
    margin-right: 10px;
    width: 120px;
}

.dispatch-number {
    float: left;
    margin-right: 10px;
    width: 120px;
}

.fail {
    color: red;
}