.custom-style {
    padding: 5px;
}

.custom-style .custom-container {
    padding:3px;
}

.custom-style .custom-container:hover{
    filter: brightness(0.8);
}

.custom-style .custom-container .imageBox {
    overflow: hidden;
    text-align: center;

    height: 10em;
    margin-bottom: 0;
}

.custom-style .custom-container .imageBox .width-style {
    position: relative;
    width: 100%;
    height: auto;

    top: 50%;
    transform: translateY(-50%);
}

.custom-style .custom-container .imageBox .height-style {
    position: relative;
    width: auto;
    height: 100%;

    left: 50%;
    transform: translateX(-50%);
}

.custom-style .custom-container h5 {
    text-align: center;
    margin: 0px;

    padding-top: 5px;
    padding-bottom: 0px;

    background-color: white;
}