.custom-style {
    padding: 0;
}

.custom-style:hover{
    filter: brightness(0.8);
}

.imageBox {
    overflow: hidden;
    text-align: center;

    height: 10em;
    margin-bottom: 0;
}

/* .image {
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%); 
} */

.image {
    height: 100%;
}

h5 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 0;
}