<form [formGroup]="formModel"
      (ngSubmit)="f.form.valid && submit()" #f="ngForm">
      <div class="container">
        <div class="register thumbnail">
            <label class="name-label">Username</label>
            <input formControlName="username" 
                   id="username" type="text"
                   class="form-control name-input" 
                   placeholder="Enter name(min length is 3)" 
                   [minlength]="3"
                   (keyup)="onInput()" required>

            <label class="password-label">Password</label>
            <input formControlName="password" 
                   id="password" type="password" 
                   class="form-control password-input" 
                   placeholder="Enter password" 
                   (keyup)="onInput()" required>
            <input class="form-control repassword-input" 
                   id="repassword" type="password" 
                   placeholder="Re-enter password" 
                   (keyup)="onInput()">

            <label class="email-label">Email</label>
            <input formControlName="email" 
                   id="email" type="email"
                   class="form-control email-input" 
                   placeholder="Enter email" 
                   (keyup)="onInput()" required>

            <div class="condition">
                <input id="conditionCheck" type="checkbox" 
                       class="condition-checkbox"
                       checked="checked">
                <h6 class="condition-text">I agree with the  
                    <a [routerLink]="['/terms']">terms & conditions</a> of elforce.net
                </h6>
            </div>
            <button type="submit" class="submit-btn">Sign up</button>

            <div class="thumbnail fail-container" *ngIf="errorValue != ''">
                <p class="fail"> {{errorValue}} </p>
            </div>
        </div>
    </div>  
</form>