.modal {
    background: rgba(0,0,0,0.6);
}

.modal-dialog {
    position: relative;
    margin: 0 auto;
    top: 25%;

    width: 1200px;
    overflow: auto;
}

.preview-group {
    margin-top: 5%;

    padding-left: 20px;
}

#centeredmenu {
    float:left;
    width:100%;
    background:#fff;  
    overflow:hidden;
    position:relative;
 }

 #centeredmenu ul {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
 }

 #centeredmenu ul li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
 }

 #centeredmenu ul li a {
    display:block;
    margin:0 0 0 1px;
    padding:3px 10px;
    line-height:1.3em;
 }

 .style-transfer {
    padding: 10px;
 }

 .body {
     height: 550px;
     overflow: auto;
 }

 .style-type {
    background-color: transparent;
    margin-right: 30px;

    border: none;
    outline: none;
 }

 .footer-button {
    width: 80px;
    height: 30px;
    color: white;
    background-color: cornflowerblue;

    border: none;
    outline: none;

    border-radius: 20px;
 }

 .actived {
    color: cornflowerblue;
}