.image-selected{
    outline: midnightblue;
}

.modal {
    background: rgba(0,0,0,0.6);
}

.image {
    height: 450px;
    width: 100%;
}

#centeredmenu {
    float:left;
    width:100%;
    background:#fff;  
    overflow:hidden;
    position:relative;
 }

 #centeredmenu ul {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
 }

 #centeredmenu ul li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
 }

 #centeredmenu ul li a {
    display:block;
    margin:0 0 0 1px;
    padding:3px 10px;
    line-height:1.3em;
 }

.modal-dialog {
    position: relative;
    margin: 0 auto;
    top: 25%;
}

 .model-style {
     height: 700px;
     width: 1200px;
     overflow: auto;
 }

 .style-transfer {
    display: block;
    margin:0 auto;
    position:relative;
    padding:0;
 }