.artist-style {
    padding: 5px;
}

.artist-style .artist-container {
    padding:3px;
}

.artist-style .artist-container:hover{
    filter: brightness(0.8);
}

.artist-style .artist-container .image {
    width: 100em;
    height: 10em;
    margin-bottom: 0;
}

.artist-style .artist-container h5 {
    text-align: center;
    margin: 0px;

    padding-top: 5px;
    padding-bottom: 0px;

    background-color: white;
}