<div>
    <div>
        <label class="left">username:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <p contentEditable="true">{{ username }}</p>
    </div>

    <div>
        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;wallet:</label>
        <div class="row wallet-container">
            <div class="amount">
                <p class="left">&nbsp;&nbsp;&nbsp;&nbsp;amount:&nbsp;&nbsp;</p><p class="left" contentEditable="true">{{ currentUserInfo.amount }}</p>
            </div>
            <div class="address">
                <p class="left">&nbsp;&nbsp;&nbsp;&nbsp;address:&nbsp;&nbsp;</p><p class="left" contentEditable="true">{{ currentUserInfo.amount }}</p>
            </div>
        </div>
    </div>

    <div class="hobby-container">
        <user-hobby-item class="hobby"></user-hobby-item>
    </div>

    <div class="submit-container">
        <button class="submit">submit</button>
    </div>
</div>