<div *ngIf="currentUserInfo" class="container ">
    <div class="username-group">
        <label class="title">Username</label>
        <p>{{ username }}</p>
    </div>

    <div class="password-group">
        <label class="title">Password</label>
        <input id="password" class="value" type="password" placeholder="********">
    </div>

    <br>
    <div class="email-group">
        <label class="title">Email</label>
        <p id="email" class="value">{{ currentUserInfo.email }}</p>
        <button class="modify-btn">Modify</button>
    </div>

    <br>
    <div class="portrait-group">
        <label class="title">Portrait</label>
        <img id="portraitImg" *ngIf="!hasPortrait" src="static/assets/defaultProfile.png" class="value" #portraitImg>
        <img id="portraitImg" *ngIf="hasPortrait" [src]="currentUserInfo.headPortraitUrl" class="value" #portraitImg>
        <button *ngIf="!hasPortrait" (click)="selectPortrait()">Add</button>
        <button *ngIf="hasPortrait" (click)="selectPortrait()">Modify</button>
        <input type="file" name="portraitFile" id="portraitFile" style="display: none;"
                (change)="showPortrait(portraitInput)" accept="image/png,image/jpg,image/jpeg" #portraitInput/>
    </div> 


    <!-- <br>
    <div class="hobby-group">
        <div class="title">
            <label>hobbies</label>
        </div>
        <div class="tags">
            <div *ngFor="let tag of tags">
                <button class="tag" (click)="onClickTag(tagCtrl)" #tagCtrl>{{ tag }}</button>
            </div>
        </div>
    </div> -->

    <div class="submit-group">
        <button class="submit" (click)="onUpdate()">Save</button>
    </div>
    <div *ngIf="errorInfo != ''">
        <p class="fail">{{errorInfo}}</p>
    </div>
</div>