.bid-container {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 0;
    padding: 0;
}

.bid-container .bid {
    float: left;
    margin-left: 20%;
    margin-right: 10px;
    margin-top: 3px;

    padding: 0;

    font-weight: bold;
}

.bid-container input {
    width: 200px;
    height: 25px;

    padding-right: 5px;
}

.buy-container {
    text-align: center;
}

.buy-container .buy {
    width: 60%;
    height: 30px;
    color: white;
    background-color: cornflowerblue;
    border: none;
    outline: none;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

label {
    margin-right: 75px;
}

.fail {
    position: relative;
    top: -55px;
    color: red;

    text-align: center;
}