<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >PicChain</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/']">Discovery</a></li>
        <li><a [routerLink]="['/style-upload']">Upload</a></li>
        <li><a [routerLink]="['/batch-upload']">BatchUpload</a></li>
        <li><a [routerLink]="">About</a></li>
      </ul>
      <auction-search></auction-search>
      <ul class="nav navbar-nav navbar-right" *ngIf="!isAuthenticated">
        <li ><a [routerLink]="['/login']">Login</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="isAuthenticated">
        <li class="dropdown">
          <a href="/#/users/{{userName}}">{{userName}}<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <button type="button" class="btn btn-default navbar-btn logout" (click)="onLogout()">
              Logout
            </button>
          </ul>
        </li>
      </ul>

    </div>

  </div>
</nav>

