.container {
    width: 100%
}
.navbar-nav > li > a, .navbar-brand {
    padding-top:6px !important; 
    padding-bottom:6px !important;
    height: 20px;
}

.navbar{
    min-height:35px;
    width: 100%; 
}

.navbar .nav > li .dropdown-menu {  
    margin: 0;  
}  
.navbar .nav > li:hover .dropdown-menu {  
    display: block;  
} 

.logout {
    border: none;
    float: right;
}