.container {
    width: 100%;
    height: 45px;
    min-height: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.navbar-nav > li > a, .navbar-brand {
    padding-top:6px !important; 
    padding-bottom:6px !important;
    height: 20px;
}

.navbar-fixed-top {
    height: 40px;
}

.navbar{
    min-height:20px;
    width: 100%; 
}

.navbar .nav > li .dropdown-menu {  
    margin: 0;  
}  
.navbar .nav > li:hover .dropdown-menu {  
    display: block;  
} 

.logout {
    border: none;
    float: right;
}