<div class="item-container thumbnail">
  <img [src] = "product.url" (click)="showProduct()" class="image">

  <div class="info-container">
    <div class="left info-group">
        <img class="left lover icon" src="assets/lover.png">
        <p class="left value">{{loverCount}}</p>
    </div>
    <div class="middle-item info-group">
        <img class="left comment icon" src="assets/comment.png">
        <p class="left value">{{commentCount}}</p>
    </div>
    <div class="right info-group">
        <p class="right value">{{shareCount}}</p>
        <img class="right share icon" src="assets/share.png">
    </div>
  </div>
</div>
