<div class="thumbnail" (mouseenter)="showEditCtrls()" (mouseleave)="removeEditCtrls()">
  <div>
    <img [src] = "product.url" (click)="showProduct()" class="image">
    <div *ngIf="canShowEditCtrls" class="not-readonly-container">
      <button class="edit" (click)="onEdit()">edit</button>
      <button class="delete" (click)="onDelete()">delete</button>
    </div>
  </div>
  <div class="text-container">
    <label class="label-left">{{ product.owner }}</label>
    <label class="label-right">{{ product.price.value }}</label>
  </div>
    <!-- <h4><a [routerLink]="['/products', product.id]">{{ product.title }}</a></h4>
    <p>{{ product.description }}</p> -->
  <!-- <div class="ratings">
    <auction-stars [rating]="product.rating"></auction-stars>
  </div>-->
</div>
