.item-container {
  padding: 0px;
  margin-bottom: 5px;

  outline: none;
}

.item-container:hover {
  filter: brightness(0.8);
}

.item-container .image {
  width: 100%;
  padding-bottom: 0px;
  padding-bottom: 0px;

  outline: none;
}

.item-container .info-container {
  height: 20px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;

  padding: 0;
}

.item-container .info-container .owner {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.item-container .info-container .info-group {
  width: auto;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0;
}

.middle-item {
  margin-left: 80px;
  margin-right: 80px;
}

.info-container .info-group .value {
  padding: 0;
  margin: 0;
}

.info-container .info-group .icon {
  width: 15px;
  height: 15px;

  padding: 0;
}

.info-container .info-group .lover {
  margin-top:3px;
  margin-left: -20px;
}

.info-container .info-group .comment {
  margin-top: 3px;
  margin-right: 40px;
}

.left {
  float: left;
}

.right {
  float: right;
}