.caption {
  position:relative;
  padding-top: 10px;
  height: 40px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail {
  padding: 1;
}

.thumbnail img {
  width: 100%;
}

.thumbnail .caption-full {
  padding: 9px;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.label-left {
	position: absolute;
	left: 10px;
}

.label-right {
	position: absolute;
	right: 10px;
}

.image {
  height: 90%;
}