<div class="item-container thumbnail">
  <img [src] = "product.url" (click)="showProduct()" class="image">

  <div class="info-container row col-md-12">
    <div class="col-md-4 info-group left">
        <p class="left value"><span class="glyphicon glyphicon-heart-empty"></span>{{loverCount}}</p>
    </div>

    <div class="col-md-4 info-group middle-item">
        <auction-stars class= "ratings" [rating]="rating"></auction-stars>
    </div>

    <div class="col-md-4 info-group right">
        <p class="right value"><img class="right comment icon" src="static/assets/comment.png">{{commentCount}}</p>
    </div>
  </div>
</div>
