.thumbnail {
  padding: 0px;
  margin-bottom: 5px;
}

.not-readonly-container {
  position: relative;
  top: -35px;
  text-align: center;
  margin-bottom: 0px;
}

.not-readonly-container .edit {
  position: absolute;
  left: 15px;
}

.not-readonly-container .delete {
  position: absolute;
  right: 15px;
}

.text-container {
  position: relative;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-container .label-left {
  position: absolute;
	left: 10px;
}

.text-container .label-right {
  position: absolute;
	right: 10px;
}

.caption h4 {
  white-space: nowrap;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.text-container {
  margin-top: 6px;
  margin-bottom: 6px;
}

.image {
  width: 100%;
  padding-bottom: 0px;
  padding-bottom: 0px;
}