<form class="form-inline" [formGroup]="formModel"
      (ngSubmit)="onSearch()"
      novalidate>
      <div class="input-group">
            <span class="input-group-addon drop-down-sel">
                  <div class="dropdown" (selected)="onSearch()">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">All Categories<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                              <li><a>All Categories</a></li>
                              <li><a *ngFor="let c of categories">{{c}}</a></li>
                        </ul>
                  </div>
            </span>
            <input placeholder="Search Key Words" class="form-control search-txt" type="text">
      </div>
</form>

