<form [formGroup]="formModel"
      (ngSubmit)="onSearch()"
      novalidate>

  <!-- <div class="form-group div-container col-sm-6 col-lg-6 col-md-6">
    <input id="title"
          placeholder="搜索..."
          class="form-control"
          type="text"
          formControlName="title">
      <button type="submit" class="search-click-btn"></button>
  </div> -->

  <div class="form-group col-sm-3 col-lg-3 col-md-3">
    <select id="category"
            class="form-control"
            formControlName="category" 
            (change)="onSearch()">
      <option value="">所有种类</option>
      <option *ngFor="let c of categories"
              [value]="c">{{c}}</option>
    </select>
  </div>
</form>

