.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.grid-style {
  background-color:rgb(235, 232, 232);
}

.free-wall {
  margin: 15px;
}
.brick {
  width: 221.2px;
}

.brick img {
  margin: 0px;
  padding: 0px;
  display: block;
}