.center-pills {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-pills li {
  height: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.nav-pills li a {
  color: black;
}

.nav-pills a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.grid-style {
  background-color:rgb(235, 232, 232);
}

.grid-item {
  border-left: 0px;
  border-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.logout {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}