<ul id = "tag-nav" class="nav nav-pills center-pills">
  <li><a (click)="OnClickHotest($event)">Hotest</a></li>
  <li><a (click)="OnClickTag($event)">Landscape painting</a></li>
  <li><a (click)="OnClickTag($event)">Illustration</a></li>
  <li><a (click)="OnClickTag($event)">Calligraphy</a></li>
  <li><a (click)="OnClickTag($event)">Shan Shui</a></li>
  <li><a (click)="OnClickTag($event)">Interior</a></li>
  <li><a (click)="OnClickTag($event)">Photo</a></li>
  <li><a (click)="OnClickTag($event)">Landscape</a></li>
  <li><a (click)="OnClickTag($event)">Others</a></li>
</ul>

<ng-masonry-grid class="grid-style"
                 [masonryOptions]="{ transitionDuration: '0.8s'}" 
                 [useAnimation]="true"
                 [useImagesLoaded]="true"
                 [scrollAnimationOptions]="{ animationEffect: 'effect-4', minDuration : 0.4, maxDuration : 0.7 }">
  
  <div class="alert alert-warning" role="alert" *ngIf="errorMessage">{{ errorMessage }}</div>
  
  <ng-masonry-grid-item id="{{'masonry-item-'+i}}" *ngFor="let product of products | async" class="col-sm-3 col-lg-3 col-md-3 grid-item"> 
    <auction-product-item [product]="product" readonly="true" fromItsOwner="false"></auction-product-item>
  </ng-masonry-grid-item>
</ng-masonry-grid>