.container {
    width: 100%;
}

.container .header {
    background-color: rgb(240, 238, 238);
}

.container .image {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 30px;
}

.container .infoItem {
    float: left;
    margin-top: 30px;
    margin-right: 30px;
}

.container .stateValue {
    width: 150px;
}

.container .dispatch {
    float: left;
    text-align: center;
    margin-top: 25px;
    margin-right: 30px;
}

.container .dispatch .check-logistics {
/*     float: left;
    margin-top: 35px;
    margin-right: 30px; */
    margin-bottom: 5px;
}

.container .dispatch .confirm{
    float: left;
    margin-right: 5px;
}

.container .middle-btn {
    float: left;
    margin-top: 35px;
    margin-right: 30px;
}