.ratings {
    color: #d17581;
    padding-left: 10px;
    padding-right: 10px;
}

.picture-container {
    text-align: center;
}

.picture-container .picture {
    width: auto;
    height: 450px;
}

.picture-container .story-container {
    margin-top: 20px;
}

.picture-container .story-container .title{
    top: -10px;
    left: 45%;
}

.picture-container .story-container .description {
    width: 96.5%;
    margin-top: 10px;
    margin-left: 15px;
    padding-top: 20px;
    background-color:rgb(235, 232, 232);
}

.picture-container .story-container .description .text {
    margin-top: -15px;
}

.picture-container .story-container .pictures {
    margin-top: 20px;
    height: 300px;
    overflow: auto;
    text-align: center;
}

.picture-container .story-container .pictures .pic {
    width: 25%;
}

.image-background {
    background-color:rgb(235, 232, 232);
    text-align: center;
  }

.left {
    float:left;
}

.submit-button {
    margin-top: 20px;
    width: 100%;
}