<div *ngIf="product" class="row detail-container">
  <div class="picture-container col-sm-8 col-lg-8 col-md-8">
    <div id="imagePreview" class="picArea">
      <img [src]="product.url" class="picture">
    </div>

    <div *ngIf="hasStory" id="story-container" class="story-container thumbnail">
      <h3 class="title">Product story</h3>
      <div *ngIf="product.story.description" id="storyDescrip" class="description">
        <h4 class="text">{{ product.story.description }}</h4>
      </div>
      <div *ngIf="hasStoryPic" class="pictures">
        <div *ngFor="let pic of product.story.pictures" class="col-sm-3 col-lg-3 col-md-3">
          <img [src]="pic">
        </div>
      </div>
    </div>
    <div class="review-info">
        <auction-review [product]="product"></auction-review>
    </div>
  </div>

  <div id="detailBox" class="col-sm-4 col-lg-4 col-md-4 detail-info">
    <div class="row info-item-group">
      <p class="title col-sm-4 col-lg-4 col-md-4">Owner</p>
      <p class="col-sm-8 col-lg-8 col-md-8">{{ product.owner }}</p>
    </div>
    <div class="row info-item-group">
      <p class="title col-sm-4 col-lg-4 col-md-4">Maker</p>
      <p class="col-sm-8 col-lg-8 col-md-8">{{ product.maker }}</p>
    </div>
    <div *ngIf="product.tags != ''" class="row info-item-group">
      <p class="title col-sm-4 col-lg-4 col-md-4">Tag</p>
      <p class="tags-value col-sm-8 col-lg-8 col-md-8">{{ product.tags }}</p>
    </div>
    <div class="row info-item-group">
      <p class="title col-sm-4 col-lg-4 col-md-4">Property</p>
      <p class="col-sm-8 col-lg-8 col-md-8">{{ productType }}</p>
    </div>
    <div *ngIf="order">
      <div *ngIf="order.product.priceType != '2' && order.product.priceType != ''" class="row info-item-group">
        <p class="title col-sm-4 col-lg-4 col-md-4">{{ priceType }}</p>
        <p class="col-sm-8 col-lg-8 col-md-8">{{ order.product.priceValue }} ETH</p>
      </div>
      <div *ngIf="order.product.priceType != '2' && order.product.priceType != ''" class="row info-item-group">
        <p class="title col-sm-4 col-lg-4 col-md-4">Duration</p>
        <p class="col-sm-8 col-lg-8 col-md-8">{{ order.duration }} days</p>
      </div>
    </div>

    <div class="button-group">
      <div *ngIf="order">
        <product-detail-buy-page [productOwner]="product.owner"
                                [priceType]="order.product.priceType"
                                [priceValue]="order.product.priceValue"
                                [orderStatus]="order.status"
                                [orderId]="order.id"
                                (handleBuyEvent)="buy($event)">
        </product-detail-buy-page> 
      </div>

      <div *ngIf="order">
        <product-detail-sell-page
                                  [product]="product"
                                  [orderStatus]="order.status">
        </product-detail-sell-page> 
      </div> 
    </div>   
  </div>
</div>
