.ratings {
    color: #d17581;
    padding-left: 10px;
    padding-right: 10px;
}

.detail-container {
    padding-top: 5px;

    width: 100%;
}

.picture-container {
    margin-top: 10px;
    text-align: center;
}

.picture-container .picArea {
    width: 100%;
    height: 500px;
}

.picture-container .picArea .picture {
    width: auto;
    height: 100%;
}

.picture-container .story-container {
    margin-top: 20px;
}

.picture-container .story-container .title{
    top: -10px;
    left: 45%;
}

.picture-container .story-container .description {
    width: 96.5%;
    margin-top: 10px;
    margin-left: 15px;
    padding-top: 20px;
    background-color:rgb(235, 232, 232);
}

.picture-container .story-container .description .text {
    margin-top: -15px;
}

.picture-container .story-container .pictures {
    margin-top: 20px;
    height: 300px;
    overflow: auto;
    text-align: center;
}

.picture-container .story-container .pictures .pic {
    width: 25%;
}

.detail-info {
    padding-top: 40px;
}

.left {
    float:left;
}

.submit-button {
    margin-top: 20px;
    width: 100%;
}

.empty-tag {
    width: 100%;
}

.info-item-group {
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
}

.info-item-group .title {
    font-weight: bold;
}

.info-item-group .tags-value {
    word-wrap: break-word;
}

.button-group {
    margin-top: 30px;
}