.ratings {
    color: #d17581;
    padding-left: 10px;
    padding-right: 10px;
}

.image-background {
    background-color:rgb(235, 232, 232);
    text-align: center;
  }

.image {
    height: 450px;
}

.div-style {
    padding-bottom: 12px;
}

.description {
    padding-top: 20px;
}

.style-image {
    height: 210px;
}

.detail-box {
    position:relative;
    height:450px;
  }

.detail-box .buy {
    position: absolute;
    height: 40px;
    width: 100%;
    font-size: 20px;
    bottom: 10px;
    background-color: rgb(240, 17, 17);
}

.detail-box .buy2 {
    position: absolute;
    height: 40px;
    width: 100%;
    font-size: 20px;
    bottom: 60px;
    background-color: rgb(240, 17, 17);
}