<div>
  <div class="row">
    <div id="imagePreview" class="col-sm-9 col-lg-9 col-md-9 image-background">
      <div>
        <img [src]="product.url" class="image">
      </div>
    </div>
    <div>

    <div id="detailBox" class="col-sm-3 col-lg-3 col-md-3 detail-box">
      <div class="div-style">
        <strong>Detail</strong>
      </div>
          <p class="p-left">owner:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p>{{ product.owner }}</p>
          <p class="p-left">creator:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p class="editItem">{{ product?.creator }}</p>
          <p class="p-left">price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><p class="editItem">{{ product.price | currency }}</p>
          <p class="p-left">category:&nbsp;&nbsp;&nbsp;</p><p class="editItem">{{ product?.categories }}</p>

      <div class="description">
        <p class="editItem">{{ product?.description }}</p>
      </div>
    </div>
  </div>

  <!--Picture Authentication area -->
  <div *ngIf="showPicAuth" class="col-sm-12 col-lg-12 col-md-12">
      <auction-product-auth [picAuth]="product.picAuth" [readonly]="readonly"></auction-product-auth>
  </div>

  <div *ngIf="readonly">
      <button class="submit-button" (click)="onBuyWithDigitalCash()">Buy</button>
  </div>

  <div *ngIf="!readonly">
      <button class="submit-button">Submit</button>
  </div>
</div>
