<div *ngIf="products">
    <div class="container col-sm-12 col-lg-12 col-md-12">
        <ng-masonry-grid class="grid-style"
            [masonryOptions]="{ transitionDuration: '0.8s'}" 
            [useAnimation]="false"
            [useImagesLoaded]="false"
            [scrollAnimationOptions]="{ animationEffect: 'effect-4', minDuration : 0.4, maxDuration : 0.7 }">
        
            <ng-masonry-grid-item id="{{'masonry-my-concern-product'+i}}" *ngFor="let product of products" class="col-sm-3 col-lg-3 col-md-3 grid-item"> 
                <auction-product-item [product]="product" readonly="true"></auction-product-item>
            </ng-masonry-grid-item>
        </ng-masonry-grid>
    </div>
</div>