.image-container {
    width: 100%;
    height: 500px;
    margin-bottom: 0px;

    overflow: auto;
}

.image-container .selectBtn{
    margin-left: 47%;
    margin-top: 220px;
    margin-bottom: 0px;
    
    width: 60px;
    height: 60px;

    line-height: 5px;
    color: white;
    font-size: 60px;
    background-color: cornflowerblue;
    border: none;
    outline: none;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.image-container .reselect-container {
    position: relative;
    top: 50%;
}

.image-container .reselect-container .reselect-Btn {
    position: absolute;
    left: 43%;

    width: 100px;
    height: 30px;
    color: white;
    background-color: cornflowerblue;
    border: none;
    outline: none;

    margin-top: -30px;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.image-container .image {
    width: auto;
    max-height: 500px;
}

.style-transfer-panel {
    background-color: cornflowerblue;
    text-align: center;
    margin-top: 0px;
 }

 .style-transfer-panel h5 {
    padding-top: 10px;
 }

 .style-transfer-panel button {
    background-color: transparent;
    width: 60px;
    margin-bottom: 10px;
 }

 .fill-height {
    padding-top: 10px;
 }