.container {
    margin-top: 20px;
    position:relative;
    float: left;
    height: 315px;
}

.text-area {
    height:130px;
}

.submit-btn {
    width: 100%;
    font-size: 20px;
}

.picAuth-container {
    position: relative;
    height: 400px;
}

.picAuth-container .picAuth {
    position: absolute;
    top: -30px;
}