<div class="row">
    <div class="form-group col-sm-8 col-lg-8 col-md-8">
        <div id="fileSelGroup">
            <input type="file" name="imagePath" id="imagePath" style="display: none;"
                (change)="showImage(input)" accept="image/png,image/jpg,image/jpeg" #input required/>
            <input type="button" value="Upload Product" (click)="selectFile()">
        </div>
        <div class="thumbnail image-container">
            <img id="imagePreview" class="image">
        </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <style-input (onUploadProductData)="onUploadProduct($event)" [hasStory]="true"></style-input>
    </div>
</div>  
