<div>
    <label>Add Tag</label>
    <input id="taginput" 
            type="text"
            class="form-control" 
            placeholder="Please input tags, separated by comma">

    <div class="tag-container row col-sm-12 col-lg-12 col-md-12">
        <div class="tags">
            <button class="tag no-border transparent">Recommend</button>
        </div>
        <div class="default-tags">
            <div *ngFor="let tagText of tags" >
                <button class="left tag no-border"
                        (click)="onClickTag(tagCtrl)" 
                        [style.backgroundColor]="initTagColor(tagText)" #tagCtrl>{{ tagText }}</button>
            </div>
        </div>
    </div>
</div>

<div>
    <br>
    <div class="story-container">
        <label>Writting story and adding auxiliary pictures(max count is 4)</label>
        <textarea id="description" class="form-control description" placeholder="less than 500 words"></textarea>
        <div class="row addGroup">
            <div class="col-sm-3 col-lg-3 col-md-3">
                <input type="file" name="storyImagePath" id="storyImagePath" style="display: none;"
                    (change)="showImage(input)" accept="image/png,image/jpg,image/jpeg" #input required/>
                <input id="selectBtn" class="addBtn" type="button" value="+" (click)="selectFile()">
            </div>
            <div id="storyImages" class="col-sm-9 col-lg-9 col-md-9">

            </div>
        </div>
    </div>
</div>

<br>
<div id="" class="property-container col-sm-12 col-lg-12 col-md-12">
    <label class="left notice">Property</label>
    <button id="digInput" class="left no-border transparent digital" (click)="onClickDigtal(digInput)" #digInput>Digital picture</button>
    <button id="matInput" class="no-border transparent material" (click)="onClickMaterial(matInput)" #matInput>Material object</button>
</div>

<br>
<div class="price-container col-sm-12 col-lg-12 col-md-12">
    <label class="left notice">Price</label>
    <button id="fix" class="left fix no-border transparent" (click)="onClickFix(fix)" #fix>Fixed</button>
    <button id="auction" class="left auction no-border transparent" (click)="onClickAuction(auction)" #auction>Auction</button>
    <button id="onlyShow" class="left exb no-border transparent" (click)="onClickOnlyShow(onlyShow)" #onlyShow>Exhibition</button>
    <div class="price-input-box">
        <input id="priceValue" 
               *ngIf="priceType != 2" 
               class="price-input form-control" 
               type="text" 
               placeholder="Please input price" 
               [value]="initializedPriceValue"
               (blur)="endPrice(priceInput)" 
               (focus)="beginPrice(priceInput)"  
               (change)="changePrice()" #priceInput>
    </div>
    <div class="poundage-box">
        <p class="poundage">Poundage: {{poundage}}</p>
        <a href="">Poundage explain</a>
    </div>
</div>

<br>
<div class="maker-container col-sm-12 col-lg-12 col-md-12">
    <label class="left labelText">Maker</label>
    <input id="maker" class="left maker form-control" type="text" placeholder="maker of the picture">
</div>

<div class="copyright-container col-sm-12 col-lg-12 col-md-12">
    <input class="left check" type="checkbox" checked="checked">
    <h6 class="condition-text">I have copyright of uploaded picture. I agree with the  
        <a href="">copyright notice</a> and <a href="">other notices</a>
    </h6>
</div>

<div class="submit-container">
    <button class="right cancelBtn" (click)="onCancel()">Cancel</button>
    <button class="btn-default right" (click)="onSubmit()">Submit</button>
</div>