<div class="col-sm-12 col-lg-12 col-md-12">
    <div class="container">
        <label>Add Tag</label>
        <input id="taginput" 
                type="text"
                class="form-control" 
                placeholder="Please input tags, separated by comma">

        <div class="defaultTag-container row col-sm-12 col-lg-12 col-md-12">
            <button class="recommend tag no-border transparent left">Recommend:</button>
            <div class="default-tags">
                <div *ngFor="let tagText of tags">
                    <button class="left tag no-border"
                            (click)="onClickTag(tagCtrl)" 
                            [style.backgroundColor]="initTagColor(tagText)" #tagCtrl>{{ tagText }}</button>
                </div>
            </div>
        </div> 
    </div>

    <div id="storyArea" class="next container">
        <label>Writting story and adding auxiliary pictures(max count is 4)</label>
        <textarea id="description" class="form-control story-description" placeholder="less than 500 words"></textarea>
        <div class="row story-addGroup">
            <div class="col-sm-3 col-lg-3 col-md-3">
                <input type="file" name="storyImagePath" id="storyImagePath" style="display: none;"
                    (change)="showImage(input)" accept="image/png,image/jpg,image/jpeg" #input required/>
                <input id="selectBtn" class="addBtn" type="button" value="+" (click)="selectFile()">
            </div>
            <div id="storyImages" class="col-sm-9 col-lg-9 col-md-9">

            </div>
        </div>
    </div>

    <div id="" class="next container">
        <label class="left property-notice">Property</label>
        <button id="digInput" class="left no-border transparent" (click)="onClickDigtal(digInput)" #digInput>Digital picture</button>
        <button id="matInput" class="no-border transparent" (click)="onClickMaterial(matInput)" #matInput>Material object</button>
    </div>

    <div class="next container" >
        <label class="left price-notice">Price</label>
        <div class="left price-exb">
            <button id="onlyShow" class="no-border transparent" (click)="onClickOnlyShow(onlyShow)" #onlyShow>Exhibition</button>
        </div>
        <div>
            <button id="forSale" class="no-border transparent" (click)="onClickForSale(forSale, fix)" #forSale>Sale</button>
        </div>
        <div id="priceGroup" class="priceGroup">
            <button id="fix" class="left fix no-border transparent" (click)="onClickFix(fix)" #fix>Fixed</button>
            <button id="auction" class="left auction no-border transparent" (click)="onClickAuction(auction)" #auction>Auction</button>
            <input id="priceValue" 
                    class="price-input form-control" 
                    type="text" 
                    [placeholder]="getPlaceHolder()" 
                    [value]="initializedPriceValue"
                    (blur)="endPrice(priceInput)" 
                    (focus)="beginPrice(priceInput)"  
                    (change)="changePrice()" #priceInput>
            <input id="duration" class="price-input form-control" type="text" placeholder="sale duration(max is 30 days)">
            <div class="poundage-box">
                <p class="poundage">Poundage: {{poundage}}</p>
                <a href="">Poundage explain</a>
            </div>
        </div>
    </div>

    <div class="next container">
        <label class="left">Maker</label>
        <input id="maker" class="left maker-input form-control" type="text" placeholder="maker of the picture">
    </div>

    <div class="next container">
        <input class="left" type="checkbox" checked="checked">
        <h6 class="copyright-condition-text">I have copyright of uploaded picture. I agree with the  
            <a href="">copyright notice</a> and <a href="">other notices</a>
        </h6>
    </div>

    <div class="next container">
        <button class="right cancelBtn" (click)="onCancel()">Cancel</button>
        <button class="btn-default right" (click)="onSubmit()">Submit</button>
    </div>
</div>