.container {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    overflow: auto;
}

.next {
    margin-top: 20px;
}

.defaultTag-container {
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    overflow: auto;
}

.defaultTag-container .recommend {
    margin-left: 2px;
    padding-left: 2px;
}

.defaultTag-container .tag {
   margin-bottom: 2px;
   margin-left: 4px;
   margin-right: 4px;
   font-size: 12px;
}

.defaultTag-container .default-tags {
    margin-left: 2px;
    overflow: auto;
 }

 .story-description {
     height: 60px;
 }

 .story-addGroup {
    margin-top: 10px;
}

 .story-addGroup .addBtn {
    height: 60px;
    width: 100%;
    background-color: transparent;
    border-style: dashed;
    outline: none;
    font-size: 60px;
    line-height: 5px;
    color: rgb(179, 174, 174);
}

 .property-notice {
    margin-left: 0px;
    margin-right: 22px;
    padding-top: 5px;
 }

 .property-value {
    width: 120px;
    height: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    background-color: transparent;
    border: none;
    outline: none;
 }

 .price-notice {
    margin-right: 45px;
 }

 .price-exb {
    margin-right: 25px;
 }

 .priceGroup {
    margin-left: 100px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
 }

 .priceGroup .fix {
    margin-left: 0px;
    margin-bottom: 5px;
 }

 .priceGroup .auction {
    margin-left: 41px;
 }

.priceGroup .price-input {
    height: 25px;
    margin-bottom: 5px;
 }

 .priceGroup .poundage-box {
    margin-bottom: 0px;
    padding-bottom: 0px;
 }

 .priceGroup .poundage-box .poundage {
    margin-right: 0px;
 }

.maker-input {
    margin-left: 43px;
    height: 25px;
    width: 160px;
}

.copyright-condition-text {
    margin-top: 0px;
    margin-left: 2px;
    margin-bottom: 0px;
}

.apply-Btn {
    width: 100px;
    height: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    background-color: cornflowerblue;
    color: white;
    border: none;
    outline: none;
}

.cancelBtn {
    margin-left: 20px;
 }

.no-border {
    border: none;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0px;
    padding-right: 0px;
    outline: none;
}

.transparent {
    background-color: transparent;
}

.left {
    float: left;
}

.right {
    float: right;
}