.container {
    width: 100%;
    height: 510px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;

    padding: 0;

    overflow: auto;
}

.container .order-item {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 0;

    margin: 0;
}