.container {
    position: relative;
    height: 400px;
}

.authText {
    position: absolute;
    top: 30px;
}

.authCheckbox {
    position: absolute;
    top: 30px;
    left: 160px;
}

.authCheckboxText {
    position: absolute;
    top: 23px;
    left: 173px;
}

.authArea {
    position: absolute;
    top: 60px;
    width: 100%;
}

.authArea .authFiles {
    height: 280px;
}

.authArea .descriptionContainer {
    position: relative;
}

.authArea .descriptionContainer .title {
    position: absolute;
    top: 5px;
}

.authArea .descriptionContainer .descriptionUpdate {
    position: absolute;
    top: 33px;
    left: 10px;
    height: 275px;
    width: 90%;
}

.authArea .descriptionContainer .descriptionInput {
    position: absolute;
    top: 33px;
    left: 10px;
    height:275px;
}