.comment-area {
    width: 100%;
}

.review-tools {
    margin-left: 40%;
    margin-right: 40%;
}

.review-tool {
    padding-left: 10px;
    padding-right: 5px;
    float: left;
}

.review-value {
    padding-right: 10px;
    float: left;
}